.offersDiv {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 14px 12px;
    width: 100%;
    border-bottom: 1px solid rgb(207 210 218);
}
.returnableInfo {
    margin-left: 12px;
}
.learnMore{
    cursor: pointer;
    position: relative;
    transition: all 0.2s ease-in 0s;
    flex-shrink: 0;
    color: rgb(56, 102, 223) !important;
}
.blueLine{
    position: absolute;
    bottom: -1px;
    left: 0%;
    background: rgb(56, 102, 223);
    width: 30%;
    transition: all 0.2s ease-in 0s;
    height: 1px;
}